@page "/Status"
@using AssetManager.Library

<PageTitle>Database Status</PageTitle>

<div align="center">
    <AuthorizeView>
        <Authorized>
            
            <div class="status-container align-content-center shadow-lg">
                <h3>Status</h3>
                <hr/>
                <div class="@(_statusMySql ? "alert alert-success" : "alert alert-danger")">@(_statusMySql ? "Active" : "Error")</div>
                <table class="table">
                    <tr>
                        <td>Courses:</td>
                        <td>@_countMySqlCourse</td>
                    </tr>
                    <tr>
                        <td>Assets:</td>
                        <td>@_countMySqlAssets</td>
                    </tr>
                    <tr>
                        <td>Edits:</td>
                        <td>@_countMySqlEdits</td>
                    </tr>
                </table>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

@code {
    
    private bool _statusMySql;
    private string _countMySqlCourse  = "Checking";
    private string _countMySqlEdits  = "Checking";
    private string _countMySqlAssets  = "Checking";
    
    protected override Task OnInitializedAsync()
    {
        
        UpdateDatabaseStatus();
        return base.OnInitializedAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        UpdateDatabaseStatus();
        if(firstRender)
        {
            
        }
    }

    private void UpdateDatabaseStatus()
    {
        _statusMySql = AssetManagerService.Instance.DatabaseService.GetStatus();
        _countMySqlAssets = AssetManagerService.Instance.DatabaseService.Library.GetAssetCount().ToString();
        _countMySqlEdits = AssetManagerService.Instance.DatabaseService.Library.GetEditCount().ToString();
        _countMySqlCourse = AssetManagerService.Instance.DatabaseService.Library.GetCourseCount().ToString();
    }
}